Mobile/pkgs/Wadl/Office365用户.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/office365users" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Office365用户" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Office 365 用户">Office 365 用户连接提供程序允许你使用 Office 365 帐户访问组织中的用户个人资料。你可以执行各种操作，例如获取你的个人资料、用户的个人资料、用户的管理员或直接下属，以及更新用户个人资料。</doc>
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/office365users" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GraphUserUpdateable_V1_aboutMe_def" />
      <dateTimeString name="GraphUserUpdateable_V1_birthday_def" />
      <string name="GraphUserUpdateable_V1_interests_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_interests_def" />
      <string name="GraphUserUpdateable_V1_mySite_def" />
      <string name="GraphUserUpdateable_V1_pastProjects_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_pastProjects_def" />
      <string name="GraphUserUpdateable_V1_schools_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_schools_def" />
      <string name="GraphUserUpdateable_V1_skills_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_skills_def" />
      <object name="GraphUserUpdateable_V1">
        <property name="aboutMe" type="string" />
        <property name="birthday" typeRef="GraphUserUpdateable_V1_birthday_def" />
        <property name="interests" typeRef="GraphUserUpdateable_V1_interests_def" />
        <property name="mySite" type="string" />
        <property name="pastProjects" typeRef="GraphUserUpdateable_V1_pastProjects_def" />
        <property name="schools" typeRef="GraphUserUpdateable_V1_schools_def" />
        <property name="skills" typeRef="GraphUserUpdateable_V1_skills_def" />
      </object>
      <string name="GraphTrending_id_def" />
      <number name="GraphTrending_weight_def" />
      <object name="GraphTrending">
        <property name="id" type="string" />
        <property name="weight" type="number" />
        <property name="resourceVisualization" typeRef="resourceVisualization" />
        <property name="resourceReference" typeRef="resourceReference" />
      </object>
      <string name="resourceVisualization_title_def" />
      <string name="resourceVisualization_type_def" />
      <string name="resourceVisualization_mediaType_def" />
      <string name="resourceVisualization_previewImageUrl_def" />
      <string name="resourceVisualization_previewText_def" />
      <string name="resourceVisualization_containerWebUrl_def" />
      <string name="resourceVisualization_containerDisplayName_def" />
      <string name="resourceVisualization_containerType_def" />
      <object name="resourceVisualization">
        <property name="title" type="string" />
        <property name="type" type="string" />
        <property name="mediaType" type="string" />
        <property name="previewImageUrl" type="string" />
        <property name="previewText" type="string" />
        <property name="containerWebUrl" type="string" />
        <property name="containerDisplayName" type="string" />
        <property name="containerType" type="string" />
      </object>
      <string name="resourceReference_webUrl_def" />
      <string name="resourceReference_id_def" />
      <string name="resourceReference_type_def" />
      <object name="resourceReference">
        <property name="webUrl" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="Person" name="LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D__value_def" />
      <object name="LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D_">
        <property name="value" typeRef="LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D__value_def" />
      </object>
      <string name="Person_id_def" />
      <string name="Person_displayName_def" />
      <string name="Person_givenName_def" />
      <string name="Person_surname_def" />
      <string name="Person_birthday_def" />
      <string name="Person_personNotes_def" />
      <boolean name="Person_isFavorite_def" />
      <string name="Person_jobTitle_def" />
      <string name="Person_companyName_def" />
      <string name="Person_department_def" />
      <string name="Person_officeLocation_def" />
      <string name="Person_profession_def" />
      <string name="Person_userPrincipalName_def" />
      <string name="Person_imAddress_def" />
      <array typeRef="ScoredEmailAddress" name="Person_scoredEmailAddresses_def" />
      <array typeRef="Phone" name="Person_phones_def" />
      <object name="Person">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="givenName" type="string" />
        <property name="surname" type="string" />
        <property name="birthday" type="string" />
        <property name="personNotes" type="string" />
        <property name="isFavorite" type="boolean" />
        <property name="jobTitle" type="string" />
        <property name="companyName" type="string" />
        <property name="department" type="string" />
        <property name="officeLocation" type="string" />
        <property name="profession" type="string" />
        <property name="userPrincipalName" type="string" />
        <property name="imAddress" type="string" />
        <property name="scoredEmailAddresses" typeRef="Person_scoredEmailAddresses_def" />
        <property name="phones" typeRef="Person_phones_def" />
      </object>
      <string name="ScoredEmailAddress_address_def" />
      <number name="ScoredEmailAddress_relevanceScore_def" />
      <object name="ScoredEmailAddress">
        <property name="address" type="string" />
        <property name="relevanceScore" type="number" />
      </object>
      <string name="Phone_number_def" />
      <string name="Phone_type_def" />
      <object name="Phone">
        <property name="number" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="User_Id_def" />
      <boolean name="User_AccountEnabled_def" />
      <string name="User_BusinessPhones_def_items_def" />
      <array type="string" name="User_BusinessPhones_def" />
      <string name="User_City_def" />
      <string name="User_CompanyName_def" />
      <string name="User_Country_def" />
      <string name="User_Department_def" />
      <string name="User_DisplayName_def" />
      <string name="User_GivenName_def" />
      <string name="User_JobTitle_def" />
      <string name="User_Mail_def" />
      <string name="User_MailNickname_def" />
      <string name="User_mobilePhone_def" />
      <string name="User_OfficeLocation_def" />
      <string name="User_PostalCode_def" />
      <string name="User_Surname_def" />
      <string name="User_TelephoneNumber_def" />
      <string name="User_UserPrincipalName_def" />
      <object name="User">
        <property name="Id" type="string" />
        <property name="AccountEnabled" type="boolean" />
        <property name="BusinessPhones" typeRef="User_BusinessPhones_def" />
        <property name="City" type="string" />
        <property name="CompanyName" type="string" />
        <property name="Country" type="string" />
        <property name="Department" type="string" />
        <property name="DisplayName" type="string" />
        <property name="GivenName" type="string" />
        <property name="JobTitle" type="string" />
        <property name="Mail" type="string" />
        <property name="MailNickname" type="string" />
        <property name="mobilePhone" type="string" />
        <property name="OfficeLocation" type="string" />
        <property name="PostalCode" type="string" />
        <property name="Surname" type="string" />
        <property name="TelephoneNumber" type="string" />
        <property name="UserPrincipalName" type="string" />
      </object>
      <boolean name="ClientPhotoMetadata_HasPhoto_def" />
      <integer name="ClientPhotoMetadata_Height_def" />
      <integer name="ClientPhotoMetadata_Width_def" />
      <string name="ClientPhotoMetadata_ContentType_def" />
      <string name="ClientPhotoMetadata_ImageFileExtension_def" />
      <object name="ClientPhotoMetadata">
        <property name="HasPhoto" type="boolean" />
        <property name="Height" type="integer" />
        <property name="Width" type="integer" />
        <property name="ContentType" type="string" />
        <property name="ImageFileExtension" type="string" />
      </object>
      <object name="Object" />
      <array typeRef="User" name="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D__value_def" />
      <string name="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D___ux40_odata_nextLink_def" />
      <object name="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D_">
        <property name="value" typeRef="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D__value_def" />
        <property name="@odata.nextLink" type="string" />
      </object>
      <string name="GraphUser_V1_aboutMe_def" />
      <boolean name="GraphUser_V1_accountEnabled_def" />
      <dateTimeString name="GraphUser_V1_birthday_def" />
      <string name="GraphUser_V1_businessPhones_def_items_def" />
      <array type="string" name="GraphUser_V1_businessPhones_def" />
      <string name="GraphUser_V1_city_def" />
      <string name="GraphUser_V1_companyName_def" />
      <string name="GraphUser_V1_country_def" />
      <string name="GraphUser_V1_department_def" />
      <string name="GraphUser_V1_displayName_def" />
      <string name="GraphUser_V1_givenName_def" />
      <dateTimeString name="GraphUser_V1_hireDate_def" />
      <string name="GraphUser_V1_id_def" />
      <string name="GraphUser_V1_interests_def_items_def" />
      <array type="string" name="GraphUser_V1_interests_def" />
      <string name="GraphUser_V1_jobTitle_def" />
      <string name="GraphUser_V1_mail_def" />
      <string name="GraphUser_V1_mailNickname_def" />
      <string name="GraphUser_V1_mobilePhone_def" />
      <string name="GraphUser_V1_mySite_def" />
      <string name="GraphUser_V1_officeLocation_def" />
      <string name="GraphUser_V1_pastProjects_def_items_def" />
      <array type="string" name="GraphUser_V1_pastProjects_def" />
      <string name="GraphUser_V1_postalCode_def" />
      <string name="GraphUser_V1_preferredLanguage_def" />
      <string name="GraphUser_V1_preferredName_def" />
      <string name="GraphUser_V1_responsibilities_def_items_def" />
      <array type="string" name="GraphUser_V1_responsibilities_def" />
      <string name="GraphUser_V1_schools_def_items_def" />
      <array type="string" name="GraphUser_V1_schools_def" />
      <string name="GraphUser_V1_skills_def_items_def" />
      <array type="string" name="GraphUser_V1_skills_def" />
      <string name="GraphUser_V1_state_def" />
      <string name="GraphUser_V1_streetAddress_def" />
      <string name="GraphUser_V1_surname_def" />
      <string name="GraphUser_V1_userPrincipalName_def" />
      <string name="GraphUser_V1_userType_def" />
      <object name="GraphUser_V1">
        <property name="aboutMe" type="string" />
        <property name="accountEnabled" type="boolean" />
        <property name="birthday" typeRef="GraphUser_V1_birthday_def" />
        <property name="businessPhones" typeRef="GraphUser_V1_businessPhones_def" />
        <property name="city" type="string" />
        <property name="companyName" type="string" />
        <property name="country" type="string" />
        <property name="department" type="string" />
        <property name="displayName" type="string" />
        <property name="givenName" type="string" />
        <property name="hireDate" typeRef="GraphUser_V1_hireDate_def" />
        <property name="id" type="string" />
        <property name="interests" typeRef="GraphUser_V1_interests_def" />
        <property name="jobTitle" type="string" />
        <property name="mail" type="string" />
        <property name="mailNickname" type="string" />
        <property name="mobilePhone" type="string" />
        <property name="mySite" type="string" />
        <property name="officeLocation" type="string" />
        <property name="pastProjects" typeRef="GraphUser_V1_pastProjects_def" />
        <property name="postalCode" type="string" />
        <property name="preferredLanguage" type="string" />
        <property name="preferredName" type="string" />
        <property name="responsibilities" typeRef="GraphUser_V1_responsibilities_def" />
        <property name="schools" typeRef="GraphUser_V1_schools_def" />
        <property name="skills" typeRef="GraphUser_V1_skills_def" />
        <property name="state" type="string" />
        <property name="streetAddress" type="string" />
        <property name="surname" type="string" />
        <property name="userPrincipalName" type="string" />
        <property name="userType" type="string" />
      </object>
      <string name="UpdateMyPhoto_param_body_def" />
      <array typeRef="GraphTrending" name="MyTrendingDocuments_responses_200_def_value_def" />
      <object name="MyTrendingDocuments_responses_200_def">
        <property name="value" typeRef="MyTrendingDocuments_responses_200_def_value_def" />
      </object>
      <string name="UserPhoto_responses_200_def" />
      <array typeRef="User" name="DirectReports_responses_200_def" />
      <array typeRef="User" name="SearchUser_responses_200_def" />
      <array typeRef="GraphUser_V1" name="DirectReports_V2_responses_200_def_value_def" />
      <object name="DirectReports_V2_responses_200_def">
        <property name="value" typeRef="DirectReports_V2_responses_200_def_value_def" />
      </object>
      <string name="UserPhoto_V2_responses_200_def" />
      <array typeRef="GraphTrending" name="TrendingDocuments_responses_200_def_value_def" />
      <object name="TrendingDocuments_responses_200_def">
        <property name="value" typeRef="TrendingDocuments_responses_200_def_value_def" />
      </object>
      <string name="HttpRequest_param_Body_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/office365users">
    <resource path="/{connectionId}/codeless/v1.0/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="PATCH" id="UpdateMyProfile" actionName="UpdateMyProfile" visibility="advanced" siena:isDeprecated="false" siena:status="Production">
        <doc title="更新我的个人资料&#xA;更新当前用户的个人资料" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="aboutMe" path="/aboutMe" type="xs:string" />
            <param style="plain" name="birthday" path="/birthday" type="service:GraphUserUpdateable_V1_birthday_def" />
            <param style="plain" name="interests" path="/interests" type="service:GraphUserUpdateable_V1_interests_def" />
            <param style="plain" name="mySite" path="/mySite" type="xs:string" />
            <param style="plain" name="pastProjects" path="/pastProjects" type="service:GraphUserUpdateable_V1_pastProjects_def" />
            <param style="plain" name="schools" path="/schools" type="service:GraphUserUpdateable_V1_schools_def" />
            <param style="plain" name="skills" path="/skills" type="service:GraphUserUpdateable_V1_skills_def" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyProfileV2" actionName="MyProfile_V2" siena:isDeprecated="false" siena:family="MyProfile" siena:revision="2" siena:status="Production">
        <doc title="获取我的个人资料(V2)&#xA;检索当前用户的配置文件。详细了解要选择的可用字段: https://developer.microsoft.com/zh-cn/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="要选择的逗号分隔字段列表。示例: 姓、部门、职务" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GraphUser_V1" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/me/photo/$value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="PUT" id="UpdateMyPhoto" actionName="UpdateMyPhoto" visibility="advanced" siena:isDeprecated="false" siena:status="Production">
        <doc title="更新我的个人资料照片&#xA;更新当前用户的个人资料照片。照片不可小于 4 MB。" />
        <request>
          <param style="header" name="Content-Type" type="xs:string" required="true" default="image/jpeg">
            <doc title="图像内容类型(如 &quot;image/jpeg&quot;)" />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/beta/me/insights/trending">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyTrendingDocuments" actionName="MyTrendingDocuments" siena:isDeprecated="false">
        <doc title="获取我的趋势文档&#xA;为登录用户检索趋势文档" />
        <request>
          <param style="query" name="$filter" type="xs:string">
            <doc title="筛选选定资源的 OData 筛选器。在 ResourceVisualization/Type 或 ResourceVisualization/containerType 上筛选选定的资源" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:MyTrendingDocuments_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/relevantpeople">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="用户主体名称或 ID。" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="RelevantPeople" actionName="RelevantPeople" visibility="advanced" siena:isDeprecated="false">
        <doc title="获取相关人员&#xA;获取相关人员。" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyProfile" actionName="MyProfile" visibility="advanced" siena:isDeprecated="true" siena:family="MyProfile" siena:revision="1" siena:status="Production">
        <doc title="获取我的个人资料(V1)&#xA;检索当前用户的个人资料。" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="用户主体名称或 ID。" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserProfile" actionName="UserProfile" visibility="advanced" siena:isDeprecated="true" siena:family="UserProfile" siena:revision="1" siena:status="Production">
        <doc title="获取用户个人资料(V1)&#xA;检索特定用户的个人资料。" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/photo">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="UserPhotoMetadata" actionName="UserPhotoMetadata" siena:isDeprecated="false">
        <doc title="获取用户照片元数据&#xA;获取用户照片元数据。" />
        <request>
          <param style="query" name="userId" type="xs:string" required="true">
            <doc title="用户主体名称或 ID。" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ClientPhotoMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/photo/value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="UserPhoto" actionName="UserPhoto" visibility="advanced" siena:isDeprecated="true" siena:family="UserPhoto" siena:revision="1" siena:status="Production">
        <doc title="获取用户照片(V1)&#xA;检索指定用户的照片(如果有)。" />
        <request>
          <param style="query" name="userId" type="xs:string" required="true">
            <doc title="用户主体名称或 ID。" />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="image" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/manager">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="用户主体名称或 ID。" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="Manager" actionName="Manager" visibility="advanced" siena:isDeprecated="true" siena:family="Manager" siena:revision="1" siena:status="Production">
        <doc title="获取经理(V1)&#xA;检索指定用户的经理的个人资料。" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/directReports">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="用户主体名称或 ID。" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DirectReports" actionName="DirectReports" visibility="advanced" siena:isDeprecated="true" siena:family="DirectReports" siena:revision="1" siena:status="Production">
        <doc title="获取直接下属(V1)&#xA;检索指定用户直接下属的用户个人资料。" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:DirectReports_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="SearchUser" actionName="SearchUser" visibility="advanced" siena:isDeprecated="true" siena:family="SearchUser" siena:revision="1" siena:status="Production">
        <doc title="搜索用户&#xA;检索与搜索词匹配的用户个人资料。" />
        <request>
          <param style="query" name="searchTerm" type="xs:string">
            <doc title="搜索字符串(适用于: 显示名称、名字、姓氏、邮件、邮件昵称和用户主体名称)。" />
          </param>
          <param style="query" name="top" type="xs:int" default="0">
            <doc title="限制返回的结果数。默认情况下返回所有项。" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SearchUser_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/users">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="SearchUserV2" actionName="SearchUserV2" visibility="advanced" siena:isDeprecated="false" siena:family="SearchUser" siena:revision="2" siena:status="Production">
        <doc title="搜索用户(V2)&#xA;检索与搜索词匹配的用户配置文件(V2)。" />
        <request>
          <param style="query" name="searchTerm" type="xs:string">
            <doc title="搜索字符串(适用于: 显示名称、名字、姓氏、邮件、邮件昵称和用户主体名称)。" />
          </param>
          <param style="query" name="top" type="xs:int">
            <doc title="要返回的结果数限制。最小值是 1。默认值是 1000。" />
          </param>
          <param style="query" name="isSearchTermRequired" type="xs:boolean" default="true">
            <doc title="如果设置为“是”，则当搜索词为空时将不会返回任何用户配置文件。如果设置为“否”，则当搜索词为空时将不会应用任何筛选。" />
          </param>
          <param style="query" name="skipToken" type="xs:string">
            <doc title="跳过令牌以获取下一批用户。" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="用户主体名称或 ID。" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserProfileV2" actionName="UserProfile_V2" siena:isDeprecated="false" siena:family="UserProfile" siena:revision="2" siena:status="Production">
        <doc title="获取用户个人资料(V2)&#xA;检索特定用户的配置文件。详细了解要选择的可用字段: https://developer.microsoft.com/zh-cn/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="要选择的逗号分隔字段列表。示例: 姓、部门、职务" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GraphUser_V1" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}/manager">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="用户主体名称或 ID。" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ManagerV2" actionName="Manager_V2" siena:isDeprecated="false" siena:family="Manager" siena:revision="2" siena:status="Production">
        <doc title="获取经理(V2)&#xA;检索指定用户管理员的配置文件。详细了解要选择的可用字段: https://developer.microsoft.com/zh-cn/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="要选择的逗号分隔字段列表。示例: 姓、部门、职务" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GraphUser_V1" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}/directReports">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="用户主体名称或 ID。" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DirectReportsV2" actionName="DirectReports_V2" siena:isDeprecated="false" siena:family="DirectReports" siena:revision="2" siena:status="Production">
        <doc title="获取直接下属(V2)&#xA;检索指定用户直接下属的用户配置文件。详细了解要选择的可用字段: https://developer.microsoft.com/zh-cn/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="要选择的逗号分隔字段列表。示例: 姓、部门、职务" />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="限制返回的结果数。默认情况下返回所有项。" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DirectReports_V2_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}/photo/$value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="用户主体名称或 ID。" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserPhotoV2" actionName="UserPhoto_V2" siena:isDeprecated="false" siena:family="UserPhoto" siena:revision="2" siena:status="Production">
        <doc title="获取用户照片(V2)&#xA;检索指定用户的照片(若有)" />
        <request />
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="image" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/beta/users/{id}/insights/trending">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="用户主体名称或 ID。" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="TrendingDocuments" actionName="TrendingDocuments" siena:isDeprecated="false">
        <doc title="获取趋势文档&#xA;为用户检索趋势文档" />
        <request>
          <param style="query" name="$filter" type="xs:string">
            <doc title="筛选选定资源的 OData 筛选器。在 ResourceVisualization/Type 或 ResourceVisualization/containerType 上筛选选定的资源" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:TrendingDocuments_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/httprequest">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="HttpRequest" actionName="HttpRequest" visibility="important" siena:isDeprecated="false" siena:status="Preview">
        <doc title="发送 HTTP 请求&#xA;构造要调用的 Microsoft Graph REST API 请求。支持以下客户细分: 第 1 个客户细分: /本人、/用户/&lt;userId&gt; 第 2 个客户细分: 消息、mailFolders、事件、单个日历、多个日历、Outlook、inferenceClassification。了解详细信息: https://docs.microsoft.com/en-us/graph/use-the-api。" />
        <request>
          <param style="header" name="Uri" type="xs:string" required="true">
            <doc title="完整或相对 URI。示例: https://graph.microsoft.com/{版本}/{资源}。" />
          </param>
          <param style="header" name="Method" type="xs:string" required="true" default="GET">
            <doc title="HTTP 方法(默认为 GET)。" />
            <option value="GET" />
            <option value="POST" />
            <option value="PUT" />
            <option value="PATCH" />
            <option value="DELETE" />
          </param>
          <param style="header" name="ContentType" type="xs:string" default="application/json">
            <doc title="正文的内容类型标头(默认为 application/json)。" />
          </param>
          <param style="header" name="CustomHeader1" type="xs:string">
            <doc title="自定义标头 1。按以下格式指定: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader2" type="xs:string">
            <doc title="自定义标头 2。按以下格式指定: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader3" type="xs:string">
            <doc title="自定义标头 3。按以下格式指定: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader4" type="xs:string">
            <doc title="自定义标头 4。按以下格式指定: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader5" type="xs:string">
            <doc title="自定义标头 5。按以下格式指定: header-name: header-value" />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_office365users" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>