Mobile/pkgs/Wadl/SendAttachmentToUploadFlowAttachMent.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SendAttachmentToUploadFlowAttachMent" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SendAttachmentToUploadFlowAttachMent" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Createitem_Title_def" />
      <string name="ManualTriggerInput_Createitem_FlowAttachName_def" />
      <string name="ManualTriggerInput_Addattachment_FileName_def" />
      <string name="ManualTriggerInput_Addattachment_FileContent_def" />
      <object name="ManualTriggerInput">
        <property name="Createitem_Title" type="string" />
        <property name="Createitem_FlowAttachName" type="string" />
        <property name="Addattachment_FileName" type="string" />
        <property name="Addattachment_FileContent" type="string" />
      </object>
      <base64Binary name="ResponseActionOutput_1_def" />
      <object name="ResponseActionOutput">
        <property name="1" typeRef="ResponseActionOutput_1_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Createitem_Title" path="/Createitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Createitem_FlowAttachName" path="/Createitem_FlowAttachName" type="xs:string" required="true" />
            <param style="plain" name="Addattachment_FileName" path="/Addattachment_FileName" type="xs:string" required="true" />
            <param style="plain" name="Addattachment_FileContent" path="/Addattachment_FileContent" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>